workflow/workflow_bot_agendador_tarefas_audio_texto_gemini_google_calendario.json
{
    "name": "bot_agendamento",
    "nodes": [
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.text }}",
                "options": {
                    "systemMessage": "=Você é um secretário e é responsável por agendar novas consultas via chat de novos clientes e também de antigos. Siga exatamente as instruções abaixo para evitar erros no agendamento:\n\nPara agendar uma consulta, só prossiga quando o cliente fornecer:\n- Nome completo  \n- E-mail válido  \n- Data e horário desejado  \nVocê pode conversar normalmente antes, mas só crie ou altere a reunião quando tiver essas 3 informações.\n\nCaso o cliente informe uma data que caia no fim de semana (sábado ou domingo), recuse o agendamento. Use seu conhecimento de calendário para reconhecer automaticamente se uma data como \"27 de abril de 2025\" é um domingo e uma data como “26 de abril de 2025” é um sábado.\n\n**Nunca aceite agendamentos aos sábados ou domingos.**\n\nSe o cliente informar uma data no fim de semana, diga:\n\"Agendamentos não podem ser feitos aos sábados ou domingos. Por favor, escolha um dia útil (segunda a sexta-feira).\"\n\nDia atual: {{ $now.toLocaleString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\" }) }}\n\n- Siga o padrão brasileiro de data e hora (DD/MM/AAAA e HH).Hora atual: {{ $now }}\nRegras:\n\nQuando o cliente informar uma data como \"dia 28 às 12h\", você deve interpretar corretamente a intenção como o dia **28 de abril de 2025 às 12:00**, no fuso horário \"America/Sao_Paulo\".\n\nVocê deve converter isso para o formato ISO completo:  \n**AAAA-MM-DDTHH:mm:ss-03:00**  \nPor exemplo: \"2025-04-21T12:00:00-03:00\"\n\nNunca crie datas usando apenas texto ou números soltos. Sempre use o formato ISO completo e preciso antes de criar a reunião no calendário.\n\nHorários disponíveis para marcar consultas:\nAgende consultas apenas nos seguintes horários abaixo. \nSegunda-feira: 9:00 as 18:00\nTerça-feira:  9:00 as 18:00\nQuarta-feira:  9:00 as 18:00\nQuinta-feira:  9:00 as 18:00\nSexta-feira:  9:00 as 18:00\nTodas as consultas agendadas serão de 1h de duração e é totalmente proibido agendar consultas nos sábados e domingos, nunca faça isso.\n\nVocê não deve enviar o link criado pelo Google Calendar para o usuário, mas sempre envie o convite para o email informado por ele e faça o agendamento no seu Google Calendar. \n\nRestrição de horário\nNunca marque mais de uma consulta na mesma hora, utilize a ferramenta \"Consultar\" para ver se aquele horário informado está disponível. Por exemplo, se o usuário escolher o horário de 16h e já tenha uma reunião nessa hora, não confirme a reunião. Mas caso ele escolha 17h, você pode marcar a reunião. Caso ainda exista algum conflito, pergunte para o usuário se ele não quer marcar uma consulta no próximo horário disponível.\nCriar agendamento\n- Utilize a tool \"Agendar\" create:event sempre que o usuário falar em \"Agendar\", \"agenda\", \"lembrar\", \"ligar\", \"conversar\", \"mandar\", “marcar”, “consulta”,”consultar”\n- Crie um evento no Calendário do Google na data e hora solicitada pelo usuário.\n\n\nConsultar agendamento\n- Utilize a tool \"Consultar\" getall:event sempre que for solicitado para saber os agendamentos feitos.\nSempre que for fazer um novo agendamento confira as datas e horários nessa tool também.\n- Só retorne para o usuário os agendamentos que estão no Google Calendar, não utilize supostos agendamento de memória,pois o usuário pode ter entrado no Google Calendar e removido o agendamento manualmente.\n\nDeletar agendamento\n- Utilize a tool \"Deletar\" delete:event sempre que o usuário pedir para \"deletar\", \"excluir\", \"apagar\" um determinado evento.\n- Utilize a tool \"Consultar\" getall:event para achar o evento em questão para ser deletado.\n\nAtualizar agendamento\n- Sempre que for solicitado para \"atualizar\", \"alterar\", \"mudar\" um determinado evento, utilize a tool \"Consultar\" getall:event para achar o evento em questão para ser alterado, depois utilize a tool \"Deletar\" delete:event para deletar o evento e por último utilize a tool de \"Agendar\" create:event para criar um novo evento.\n"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3,
            "position": [
                -224,
                -272
            ],
            "id": "eef30ddc-7c0a-4b56-bab0-54c58d9c8b7b",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                -304,
                -64
            ],
            "id": "a38c5a26-3bae-4f25-b386-c502cb64f9d4",
            "name": "Google Gemini Chat Model"
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('msg_telegram').item.json.message.chat.id }}",
                "contextWindowLength": 10
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                -144,
                -64
            ],
            "id": "ed51e710-b27e-4743-b9fd-892c84239874",
            "name": "Simple Memory"
        },
        {
            "parameters": {
                "operation": "getAll",
                "calendar": {
                    "__rl": true,
                    "value": "primary",
                    "mode": "list"
                },
                "returnAll": true,
                "timeMax": "={{ $now.plus({ week: 6 }) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.googleCalendarTool",
            "typeVersion": 1.3,
            "position": [
                80,
                -64
            ],
            "id": "5704429e-42d9-4a23-a9c3-ac711834c87c",
            "name": "Consultar"
        },
        {
            "parameters": {
                "operation": "delete",
                "calendar": {
                    "__rl": true,
                    "value": "primary",
                    "mode": "list"
                },
                "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `delete a consulta solicitada.`, 'string') }}",
                "options": {}
            },
            "type": "n8n-nodes-base.googleCalendarTool",
            "typeVersion": 1.3,
            "position": [
                176,
                -64
            ],
            "id": "c2cef26f-b65a-456d-a8e0-0265387c4201",
            "name": "Deletar"
        },
        {
            "parameters": {
                "calendar": {
                    "__rl": true,
                    "value": "primary",
                    "mode": "list"
                },
                "start": "={{ $fromAI('Start') }}",
                "end": "={{ $fromAI('end') }}",
                "additionalFields": {
                    "attendees": [
                        "={{ $fromAI('attendee') }}"
                    ],
                    "summary": "={{ $fromAI('summary') }}"
                }
            },
            "type": "n8n-nodes-base.googleCalendarTool",
            "typeVersion": 1.3,
            "position": [
                -16,
                -64
            ],
            "id": "84f1b578-84cb-4ec5-ad9f-a8942604d2c3",
            "name": "agendar"
        },
        {
            "parameters": {
                "chatId": "={{ $('msg_telegram').item.json.message.chat.id }}",
                "text": "={{ $json.output ? $json.output.toString().replace(/[*_`[\\]()~>#+=|{}<>!]/g, '').replace(/[\n\r]/g, ' ') : 'Mensagem inválida.' }}",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                176,
                -272
            ],
            "id": "9aa5c1b6-3827-4129-8a96-09d54638aaa5",
            "name": "Msg de retorno telegram"
        },
        {
            "parameters": {
                "resource": "file",
                "fileId": "={{ $json.message.voice.file_id }}",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                -784,
                -448
            ],
            "id": "8bd9c772-092e-4869-bf11-71e6bd78c154",
            "name": "Get a file"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "2c6b9a1d-17c6-4a69-b260-ac4050526877",
                            "leftValue": "={{ $json.message.voice }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "object",
                                "operation": "exists",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                -976,
                -288
            ],
            "id": "9c287e20-dfea-4d3c-a56c-e7ff4fed97fb",
            "name": "Se for audio ou texto"
        },
        {
            "parameters": {
                "jsCode": "const message = $(\"msg_telegram\").first().json.message;\n\nif (message.text) {\n    return [{\n      json: {\n        text:message.text,\n      }\n    }];\n}\nelse {\n  return [{\n    json: {\n      text: $(\"transcricao_audio\").first().json.text,\n    }\n  }]\n}\n\n\nreturn [{\n  json: {\n    text: textoFinal\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -464,
                -272
            ],
            "id": "e307ddb1-fcd4-4cf7-bfb7-ee7775bea2d2",
            "name": "Code in JavaScript"
        },
        {
            "parameters": {
                "resource": "audio",
                "modelId": {
                    "__rl": true,
                    "value": "models/gemini-2.5-flash",
                    "mode": "list"
                },
                "inputType": "binary",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.googleGemini",
            "typeVersion": 1,
            "position": [
                -624,
                -448
            ],
            "id": "78f50526-ab1a-4e66-b92d-e970a93572e0",
            "name": "transcricao_audio"
        },
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.2,
            "position": [
                -1168,
                -288
            ],
            "id": "d96530c4-799c-4fb3-97e4-cee4b2e78daf",
            "name": "msg_telegram"
        },
        {
            "parameters": {
                "content": "## Condicional \nO fluxo checa se a mensagem recebida é um texto ou um audio e segue as 2 alternativas.\n***Verdadeiro***: Se for um audio faz a transcrição para gerar um texto.\n***Falso***: Se não é um audio egue o fluxo normalmente seguindo como texto. ",
                "height": 176,
                "width": 384,
                "color": 3
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -976,
                -144
            ],
            "typeVersion": 1,
            "id": "12b038aa-fbac-4bce-9f10-7c88fb188162",
            "name": "Sticky Note"
        },
        {
            "parameters": {
                "content": "## Bot de agendamentos \nFluxo de um bot de agendamento de tarefas via chat do Telegram.\nO bot recebe as informações do usuário faz o agendamento na agenda do google conforme regras e retorna a confirmação para o usuário solicitante. ",
                "height": 176,
                "width": 368,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -1232,
                -496
            ],
            "typeVersion": 1,
            "id": "8ebcf5ac-6f16-4222-853b-8b790327646c",
            "name": "Sticky Note1"
        }
    ],
    "pinData": {},
    "connections": {
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Consultar": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Deletar": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "agendar": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Msg de retorno telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get a file": {
            "main": [
                [
                    {
                        "node": "transcricao_audio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Se for audio ou texto": {
            "main": [
                [
                    {
                        "node": "Get a file",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Code in JavaScript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "transcricao_audio": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "msg_telegram": {
            "main": [
                [
                    {
                        "node": "Se for audio ou texto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "0517b2f3-191b-49d7-9e95-19a971d5daf1",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "77ce14bf4465de5b85597c477e4fc828511474d4982827fda1acf333c1334c90"
    },
    "id": "zbmX8MOMV8bN1Jia",
    "tags": [
        {
            "updatedAt": "2025-12-26T13:46:50.527Z",
            "createdAt": "2025-12-26T13:46:50.527Z",
            "id": "DOVMXDVVWzmfXiJ2",
            "name": "telegram"
        },
        {
            "updatedAt": "2025-12-26T13:47:06.467Z",
            "createdAt": "2025-12-26T13:47:06.467Z",
            "id": "Guo3gpOsLbYuHh67",
            "name": "agenda_google"
        },
        {
            "updatedAt": "2025-12-18T12:43:44.309Z",
            "createdAt": "2025-12-18T12:43:44.309Z",
            "id": "Ud7GublF1RKjNWTY",
            "name": "gemini"
        },
        {
            "updatedAt": "2025-12-23T15:38:27.434Z",
            "createdAt": "2025-12-23T15:38:27.434Z",
            "id": "logjHS1tsdkslOeN",
            "name": "chatbot"
        }
    ]
}